.bug {
  background-color: #ABB642;
}

.dark {
  background-color: #6C584A;
}

.dragon {
  background-color: #6843EF;
}

.electric {
  background-color: #F2D054;
}

.fairy {
  background-color: #E29DAC;
}

.flying {
  background-color: #A493EA;
}

.fighting {
  background-color: #B13C31;
}

.fire {
  background-color: #E28544;
}

.ghost {
  background-color: #6C5A94;
}

.grass {
  background-color: #8BC560;
}

.ground {
  background-color: #DBC074;
}

.ice {
  background-color: #A6D6D7;
}

.normal {
  background-color: #A8A77D;
}

.poison {
  background-color: #94489B;
}

.psychic {
  background-color: #E66388;
}

.rock {
  background-color: #B4A04A;
}

.steel {
  background-color: #B8B8CE;
}

.water {
  background-color: #6F91E9;
}